[Unit]
Description=Video Bot Service
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/video_bot/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/video_bot/docker-compose.yml down
WorkingDirectory=/opt/video_bot
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
